#introduction {
	border: solid black 1px;
	margin-bottom: 1em;
	padding-bottom: 1em;
} 
#table {
	border: solid black 1px;
	margin-bottom: 1em;
	padding-bottom: 1em;
}


#form {
	border: solid black 1px;
	margin-bottom: 1em;
}

h3 {
	background-color: #ddd;
	margin-top: 0;
	padding:0.5em 0 0.5em 1em;
}

table {
	border-collapse: collapse;
	width: 70%;
	margin: auto;
}

td, table, th {
	border-bottom: 1px solid black;
	padding: 0.5em;
}


th,td.author,td.link {
	white-space: nowrap;
	
}

td.link {
	text-align: center;
}

td.feedback {
	width:50%;
	white-space: wrap;
	text-align: justify;
	text-indent: 1em;
}

.btn {
	font-size: 1.375rem;
	background: #197df7;
	color: #fff;
	border-radius: 5px;
	padding: 18px 10px;
	text-align: center;
}

.submit_btn {
	background: #197df7;
	color: #fff;
	border-radius: 5px;
	padding: .5em;
	text-align: center;
	margin: .5em 0 .5em 1em;
}

.container {
	display: flex;
	justify-content: center;
}

.item {
	margin:1rem;
}



.content {
	width: 40vw;
	order: 2;
	text-indent: 1em;
}

.profile_image {
	order: 1;
}

.bg {
	padding: 1em;
	background: #e2eba3;
}

form {
	margin: 0 0 0 1em;
}
