#introduction {
	border: solid black 1px;
	margin-bottom: 1em;
}

#table {
	border: solid black 1px;
	margin-bottom: 1em;
}


#form {
	border: solid black 1px;
	margin-bottom: 1em;
}

h3 {
	background-color:gray;
	margin-top: 0;
	padding:0.5em 0 0.5em 1em;
}

table {
	border-collapse: collapse;
	width: 70%;
	margin: auto;
}

td,table,th {
	border-bottom: 1px solid black;
}
